@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
}

.rhap_play-pause-button {
  color: #ff0000 !important;
  transition: all 0.3s ease-in-out;
}

.rhap_play-pause-button:hover {
  transform: scale(1.2);
}

.rhap_forward-button,
.rhap_rewind-button,
.rhap_skip-button,
.rhap_volume-button,
.rhap_repeat-button {
  transition: all 0.3s ease-in-out;
}

.rhap_forward-button:hover,
.rhap_rewind-button:hover,
.rhap_skip-button:hover,
.rhap_volume-button:hover,
.rhap_repeat-button:hover {
  transform: scale(1.2);
  color: #555 !important;
}

.rhap_progress-filled {
  background-color: #ff0000 !important;
}

.rhap_progress-indicator,
.rhap_volume-indicatore {
  background: #b4b4b4 !important;
}

.rhap_progress-indicator:hover,
.rhap_volume-indicator:hover {
  transform: scale(1.2);
}

.rhap_download-progress,
.rhap_volume-bar {
  background-color: #ff000033;
}
.ant-card-cover img {
  width: 100%;
  height: 9rem;
}
.musicplayerConatiner {
  position: fixed;
  bottom: 0px;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px 0 #0000001f,
    0 5px 12px 4px #00000017;
  background: white;
  width: 96%;
  margin: 0 auto;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.songsDeatiles {
  height: 8rem;
  /* min-width: 16rem; */
  width:30%;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px 0 #0000001f,
    0 5px 12px 4px #00000017;
  background: white;
  display: grid;
  /* justify-content: center; */
  padding-left: 2%;
  align-items: center;
  display: flex;
  
}
.songsDeatiles span {
  color: #099268;
  font-size: 1.3rem;
}

.songsDeatiles img {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.songsDeatiles p {
  color: #038aa1;
  /* white-space: nowrap; */
  font-size: 1.1rem;
}
