@import "../../../Scss/base/_colors.scss";

.signup-container {
  background-color: var(--white);
  height: 95.5vh;
  text-align: center;
  .signup_content {
    padding: 0% 6%;
    // padding-top: 3%;
    padding-left: 2%;
    .ant-image-img {
      // width: 75%;
      margin-top: 5%;
    }
    .signup_inputFields {
      width: 80%;
      margin-top: 1%;
      margin-left: 10%;
      h1 {
        text-align: left;
        font-family: "Poppins";
        font-size: 3.4rem;
        opacity: 0.7;
        font-weight: 600;
      }
      .ant-divider-horizontal {
        background-color: var(--primaryOrange);
        height: 5px;
        border-radius: 10px;
        min-width: 10%;
        width: 10%;
        margin-top: -1rem;
      }
      .ant-form-item-control-input-content {
        max-width: 90%;
        // margin-top: 5%;
        .ant-input {
          height: 4.5rem;
          overflow: hidden;
          &:hover,
          &:focus,
          &:active,
          &::after {
            border-color: var(--grey);
          }
        }
      }
      .password_field {
        .ant-input {
          height: 3.5rem;
          &:hover,
          &:focus {
            border-color: unset;
          }
        }
        .ant-input-affix-wrapper:hover {
          border-color: var(--grey);
        }
      }
      .checkbox_content {
        text-align: left;
        padding-top: 1%;
        font-size: 1.3rem;
        margin-bottom: 0;
        .check_me {
          .ant-checkbox + span {
            opacity: 0.8;
            color: var(--black-secondary);
            font-size: 1.3rem;
          }
          .ant-checkbox-checked .ant-checkbox-inner {
            background-color: var(--primaryOrange);
            border-color: var(--primaryOrange);
            border-radius: 50%;
          }
          .ant-checkbox-inner {
            border-color: var(--primaryOrange);
            border-radius: 50%;
          }
          .ant-checkbox-checked:after {
            border: none;
          }
        }
        .ant-btn-primary {
          font-size: large;
          background-color: var(--primaryOrange);
          border: none;
          width: 100%;
          height: 4rem;
          background: #f06e38;
          margin-top: 1rem;
        }
        .ant-btn-primary:hover {
          background-color: rgb(216, 77, 77);
        }
      }
      .ant-form-item-explain-error {
        text-align: left;
        width: 90%;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
      }
    }
    .signup_Signup_tag {
      width: 75%;
      margin-top: 7%;
      text-align: center;
      h4 {
        opacity: 0.8;
        color: var(--black-secondary);
        font-size: 1.4rem;
        span {
          color: red;
          font-size: 2rem;
          font-weight: bold;
          padding-left: 0.5rem;
          cursor: pointer;
        }
        span:hover {
          color: rgb(27, 24, 202);
        }
      }
    }
  }
}